.chart-container{
  box-sizing:border-box;
}

.chart-title{
  text-align:center;
  padding:10px;
}

.chart-inner{
  display:flex;
  flex-direction:row;
}

.axes{
  flex:1;
  position:relative;
  display:flex;
  align-items:flex-end;
  background:white;
  border-color:black;
  border-left:black solid 2px;
  border-bottom:black solid 2px;
}

.tick-container{
  position:absolute;
  z-index:100;
}

.tick-container-left{
  display:inline-block;
  height:100%;
  width:0%;
}

.tick-container-right{
  display:inline-block;
  height:100%;
  width:100%;
}

.tick{
  height:2px;
  width:10px;
  right:0px;
  background:black;
  position:absolute;
}

.tick-label{
  position:absolute;
  right:13px;
  font-size:10px;
  text-align:right;
}

.grid-line{
  height:1px;
  position:absolute;
}

.y-label{
  position:absolute;
  margin-left:2px;
  text-align: center;
  left:0px;
  bottom:0px;
  transform-origin:top left;
  transform:rotate(-90deg);
  z-index:200;
}

.stacked-bar{
  position:relative;
}

.bar{
  position:relative;
  font-size:0.5vw;
}

.bar-outline{
  position:absolute;
  height:100%;
  width:100%;
  bottom:0px;
}

.bar-label{
  font-size:14px;
  text-align:center;
  position:relative;
  bottom:calc(-100% - 5px);
}

.bar-value-label{
  width:100%;
  text-align:center;
  position:relative;
  z-index:100;
}

.legend{
  margin-top:10px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

.legend-color-box{
  display:inline-block;
  height:10px;
  width:10px;
  margin:auto 3px auto 10px;
}

.legend-label{
  font-size:10px;
  display:inline-block;
}